<html>
<head>
    <title>Create Quiz</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,  user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
    <script type="text/javascript" src="{% static 'quiz/create.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="navbar-brand" id="pageName"><p>Create Quiz</p></div>
        <div class="navbar-brand pull-right hidden" id="qno"><p>1/10</p></div>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" id="name_form">
    <input type="text" placeholder="Enter your name" class="form-control top-buffer" id="name_box" name="name"><br>
    <p><span class="emsg hidden">Please enter a valid name</span></p>
    <input type="submit" class="btn btn-primary text-center" id="name_btn" value="Next">
</div>

<div class="container-fluid text-center top-buffer hidden" id="q1">
    <p><span>Question 1:</span></p>
    <form>
        <label><input type="radio" name="q1" value="1" class="q1"> Option 1</label><br>
        <label><input type="radio" name="q1" value="2" class="q1"> Option 2</label><br>
        <label><input type="radio" name="q1" value="3" class="q1"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q2">
    <p><span>Question 2:</span></p>
    <form>
        <label><input type="radio" name="q2" value="1" class="q2"> Option 1</label><br>
        <label><input type="radio" name="q2" value="2" class="q2"> Option 2</label><br>
        <label><input type="radio" name="q2" value="3" class="q2"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q3">
    <p><span>Question 3:</span></p>
    <form>
        <label><input type="radio" name="q3" value="1" class="q3"> Option 1</label><br>
        <label><input type="radio" name="q3" value="2" class="q3"> Option 2</label><br>
        <label><input type="radio" name="q3" value="3" class="q3"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q4">
    <p><span>Question 4:</span></p>
    <form>
        <label><input type="radio" name="q4" value="1" class="q4"> Option 1</label><br>
        <label><input type="radio" name="q4" value="2" class="q4"> Option 2</label><br>
        <label><input type="radio" name="q4" value="3" class="q4"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q5">
    <p><span>Question 5:</span></p>
    <form>
        <label><input type="radio" name="q5" value="1" class="q5"> Option 1</label><br>
        <label><input type="radio" name="q5" value="2" class="q5"> Option 2</label><br>
        <label><input type="radio" name="q5" value="3" class="q5"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q6">
    <p><span>Question 6:</span></p>
    <form>
        <label><input type="radio" name="q6" value="1" class="q6"> Option 1</label><br>
        <label><input type="radio" name="q6" value="2" class="q6"> Option 2</label><br>
        <label><input type="radio" name="q6" value="3" class="q6"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q7">
    <p><span>Question 7:</span></p>
    <form>
        <label><input type="radio" name="q7" value="1" class="q7"> Option 1</label><br>
        <label><input type="radio" name="q7" value="2" class="q7"> Option 2</label><br>
        <label><input type="radio" name="q7" value="3" class="q7"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q8">
    <p><span>Question 8:</span></p>
    <form>
        <label><input type="radio" name="q8" value="1" class="q8"> Option 1</label><br>
        <label><input type="radio" name="q8" value="2" class="q8"> Option 2</label><br>
        <label><input type="radio" name="q8" value="3" class="q8"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q9">
    <p><span>Question 9:</span></p>
    <form>
        <label><input type="radio" name="q9" value="1" class="q9"> Option 1</label><br>
        <label><input type="radio" name="q9" value="2" class="q9"> Option 2</label><br>
        <label><input type="radio" name="q9" value="3" class="q9"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q10">
    <p><span>Question 10:</span></p>
    <form>
        <label><input type="radio" name="q10" value="1" class="q10"> Option 1</label><br>
        <label><input type="radio" name="q10" value="2" class="q10"> Option 2</label><br>
        <label><input type="radio" name="q10" value="3" class="q10"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q11">
    <p><span>Question 11:</span></p>
    <form>
        <label><input type="radio" name="q11" value="1" class="q11"> Option 1</label><br>
        <label><input type="radio" name="q11" value="2" class="q11"> Option 2</label><br>
        <label><input type="radio" name="q11" value="3" class="q11"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q12">
    <p><span>Question 12:</span></p>
    <form>
        <label><input type="radio" name="q12" value="1" class="q12"> Option 1</label><br>
        <label><input type="radio" name="q12" value="2" class="q12"> Option 2</label><br>
        <label><input type="radio" name="q12" value="3" class="q12"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q13">
    <p><span>Question 13:</span></p>
    <form>
        <label><input type="radio" name="q13" value="1" class="q13"> Option 1</label><br>
        <label><input type="radio" name="q13" value="2" class="q13"> Option 2</label><br>
        <label><input type="radio" name="q13" value="3" class="q13"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q14">
    <p><span>Question 14:</span></p>
    <form>
        <label><input type="radio" name="q14" value="1" class="q14"> Option 1</label><br>
        <label><input type="radio" name="q14" value="2" class="q14"> Option 2</label><br>
        <label><input type="radio" name="q14" value="3" class="q14"> Option 3</label>
    </form>
</div>

<div class="container-fluid text-center top-buffer hidden" id="q15">
    <p><span>Question 15:</span></p>
    <form>
        <label><input type="radio" name="q15" value="1" class="q15"> Option 1</label><br>
        <label><input type="radio" name="q15" value="2" class="q15"> Option 2</label><br>
        <label><input type="radio" name="q15" value="3" class="q15"> Option 3</label>
    </form>
</div>


<div class="text-center">
    <input type="submit" class="btn btn-primary hidden" id="skip" value="Skip">
</div>

<div class="text-center" id="shareLink">

</div>

<div class="text-center">
    <input type="submit" onclick="copy_share_url()" class="btn btn-success hidden" id="copy_btn" value="Copy Link">
</div>


</body>
</html>