body{
    background-color: #F4F3F6;
    zoom: 125%;
}

.navbar, .navbar-default, .navbar-brand{
    color: #222 !important;
    border: 0px;
    border-radius: 0px;
    background-color: #9AFF53;
}

#link{
    position: absolute;
    left: -9999px;
}

.top-buffer{
    margin-top: 10px;
}

.emsg{
    color: red;
}

.active{
    background-color: #00C9A7;
    color: #fff;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}

label{
    padding: 7px 20px;
    border: 0px;
    margin: 0px;
}

label, input[type=text], .btn-success, .btn-primary{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
